<h1>Listing events</h1>

<%= div_for @events, class: 'large-4 columns panel callout radius' do |event| %>
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date.strftime("%d-%m-%Y") %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date.strftime("%d-%m-%Y") %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Agenda:</strong>
    <%= event.agenda %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Organizer:</strong><br>
    <%= image_tag avatar_url(event.organizer) %>
    <%= event.organizer.email %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= raw event.tags.map { |t| raw link_to t.name, tag_path(t.name) }.join(', ') %>
  </p>

  <%= link_to 'Join', event_join_path(event_id: event.id), class: 'button tiny radius success' %>
  <%= link_to 'Edit', edit_event_path(event), class: "button tiny radius success" %>
  <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny radius alert" %>
<% end %>
